.steps
	+transition(top 400ms)
	&_no-animate
		+transition(none)

.step
	height: 100%
	position: relative
	display: none
	&__content
		+block-center
		text-align: center
		width: 100%
	h1, h2
		font-weight: 400
	h1
		font-size: 48px
		margin-bottom: 20px
	h2
		font-size: 14px
		font-family: Arial, Helvetica, sans-serif
		margin-bottom: 45px
		font-style: italic
		&.subheader
			margin-bottom: 20px

.back
	+opacity(0.8)
	+block-h-center()
	cursor: pointer
	z-index: 100
	display: none
	font-size: 25px
	top: 20px
	&:hover
		+opacity(1)

.step
	&-action
		background-color: #75c0d1
	&-encrypt
		background-color: #9ad58c
	&-decrypt
		background-color: #e7a8d1
	&-generate-key
		background-color: #d5d788
	&-download
		background-color: #aa8cd8
	input[type="password"]
		+inline-block
		+border-radius(2px)
		+box-shadow(3px 3px 0 rgba(#000, .05))
		background-color: #fff
		border: none
		padding: 8px 18px
		line-height: 1
		font: inherit
		width: 400px
		margin-bottom: 18px
		font-size: 36px
		color: #555

