<!DOCTYPE html>
<html lang="ru" manifest="default.appcache">
	<head>
		<meta charset="UTF-8" />
		<title>Crypto</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic" />
		<link rel="stylesheet" href="/stylesheets/Crypto.css" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta http-equiv="cleartype" content="on" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" async></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" async></script>
		<![endif]-->
		<!--[if lt IE 8]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js" async></script>
		<![endif]-->
	</head>
	<body>
		<section class="wrapper">
			<section class="service"><div id="alerts" class="alerts"></div><div id="popups" class="popups"></div></section>
			<main class="main" id="content">
				<!-- Here will be content -->
			</main>
		</section>
		<script src="/javascripts/Crypto.js" async></script>
	</body>
</html>
